.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  h4,
  h3 {
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    text-transform: capitalize;
  } // background: $darkergray;
  .sponsor {
    background: $darkergray; // height: 650px;
    padding: 45px 0;
    color: $base;
    text-align: center;
    h2 {
      margin: 80px 0;
    }
    .sponsor-images {
      // display: flex;
      // justify-content: space-around;
      // flex-direction: column;
      .row {
        display: flex; // flex-wrap: nowrap;
        justify-content: center;
        .responsive {
          .primary-image {
            // display: block;
          }
          .accent-image {
            display: none;
          }
          &:hover {
            // @include pulse();
            .primary-image {
              // display: none;
            }
            .accent-image {
              // display: block;
            }
          }
          width: auto;
          padding: 10%;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          a {
            position: relative;
            height: 120px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-bottom: 0;
          }
        }
        .potrait {
          width: 100px;
          height: auto;
          a {
            img {
              height: 100%;
              width: auto;
              top: 0;
            }
          }
        }
      }
    }
    .footer__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
  }
  .footer__link {
    padding: 60px 0;
    width: 20%;
    h4 {
      color: $base;
      text-align: left;
      margin-bottom: 25px;
      font-weight: 700;
      text-transform: uppercase;
    }
    ul {
      padding-left: 0;
      li {
        // display: inline-block;
        list-style-type: none;
        position: relative; // padding: 10px;
        padding-left: 0;
        &:after {}
        &:last-child:after {}
        a {
          color: $base;
          text-transform: uppercase;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
  }
  .footer__bottom {
    &>ul {
      display: flex;
      list-style-type: none;
      justify-content: center;
      flex-direction: row;
      li {
        &:hover {
          i {
            color: $darkergray;
          }
        }
      }
      i {
        color: $primarytext;
        font-size: 40px;
        transition: .3s ease-in;
      }
    }
  }
  .footer__below {
    display: block;
    width: 100%;
    background: #4a4a4a;
  }
  .footer__head {
    display: block;
    width: 100%;
    overflow: hidden;
  }
}
