.header {
  background: $base;
  position: relative;
  z-index: 30;
  width: 100%;
  .header-wrapper {
    position: relative;
    height: 135px;
  }
  .upper-bar {
    background: $lightgray;
    height: 20px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 20;
    .container {
      display: flex;
      flex-direction: row;
    }
  }
  .below-bar {
    background: $darkgreen;
    height: 35px;
    bottom: 0;
    width: 100%;
    border-bottom: 0;
    position: absolute;
  }
  .dropdown {
    button {
      border: 0;
      background: #edeff4;
      padding: 3px 10px;
    }
  }
}

.upper-bar .container {}

.logo {
  width: 135px;
  position: relative;
  z-index: 100;
  a {
    width: 100% !important;
    height: 158px;
    padding-bottom: 100% !important;
    position: relative !important;
    display: block;
    z-index: 1;
  }
  img {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
  }
}
