.main {
  min-height: 500px; // padding: 50px 0;
  background: $base; // overflow-x: hidden;
  position: relative;
  .left {
    // background: $base;
  }
}

.main--club {
  img {
    width: 100%;
  }
}

.select2-selection__rendered {
  line-height: 50px !important;
}

.select2-container {
  margin-bottom: 10px !important;
  .select2-selection--single {
    height: 50px !important;
  }
}

.select2-selection__arrow {
  height: 50px !important;
}

.column.column--jadwal {
  position: relative;
  .column__header {
    text-align: center;
    h4 {
      display: inline-block;
    }
    .fa {
      display: inline-block;
      color: #fff;
      /* top: 0; */
      font-size: 30px;
      margin: 0 15px;
      position: absolute
    }
    .fa-angle-left {
      left: 0;
    }
    .fa-angle-right {
      right: 0;
    }
  }
}

// ================
// mysection
// ================
/* header */

.header--plain {
  .below-bar {
    background: $primarytext;
    ;
  }
}

/* liga1 - inner banner */

.inner-banner--comp {
  h3 {
    padding-left: 100px;
  }
  .box-sorting {
    background: $lightgray;
    position: relative;
    padding: 25px;
    margin: 20px 0;
    z-index: 7;
    border-radius: 10px;
    .form-control,
    select {
      height: 50px;
      padding: 5px 10px;
      width: 100%;
      font-size: 14px;
      border-radius: 5px;
      border: 0;
      margin-bottom: 10px;
    }
    button {
      border: 0;
      height: 50px;
    }
  }
}

/* liga1 - news page */

.box-link {
  a {
    font-weight: 600;
    color: $darkergray;
    font-size: 18px;
    span {
      margin-top: 0;
      font-weight: normal;
      color: $darkergray;
      font-size: 18px;
    }
  }
}

.card--news,
.card--gallery,
.card--corner,
.card--polling,
.card--club {
  min-height: 285px;
  margin-bottom: 10px;
  .responsive {
    a {
      padding-bottom: 65%;
    }
  }
  .content {
    .excerpt {
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
    }
  }
}

.card--news__related {
  .wrapper {
    .card__image-wrapper {
      box-shadow: 0 0 0 0;
    }
  }
  .content {
    background: transparent;
  }
}

.news--header {
  margin-bottom: 30px;
  span {
    display: block;
    &.meta-category {
      color: $primary;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 25px;
    }
    &.meta-time {
      font-size: 14px;
      margin-bottom: 75px;
    }
  }
  h1 {
    text-transform: capitalize;
    text-align: left;
    font-size: 36px;
    margin: 0 0 30px;
  }
}

.article__share {
  .share-box {
    padding-bottom: 30px;
    border-bottom: 1px solid $gshade;
    .share-border {
      display: inline-block;
      border: 1px solid $primary;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      i {
        line-height: 14px;
        color: $primary;
        margin: auto;
        padding: 12px;
      }
    }
  }
}

.article-related {
  h4 {
    text-align: left;
    margin-bottom: 30px;
  }
}

/* liga1 - gallery page */

.card--gallery {
  .wrapper {
    .card__image-wrapper {
      position: relative;
      margin-bottom: 15px;
    }
    .img-number {
      position: absolute;
      bottom: 20px;
      left: 20px;
      background-color: #304956;
      padding: 5px 10px;
      font-size: 12px;
      span {
        color: #fff;
        .fa {
          margin: 0;
          font-size: 10px;
          color: #fff;
        }
        &.icon {
          &:after {
            padding: 0 5px 0 10px;
            color: #fff;
            width: 1px;
            content: "|";
          }
        }
      }
    }
  }
}

.card--gallery__plain {
  min-height: auto;
}

.gallery-thumb {
  margin-bottom: 40px;
}

/* liga1 - supporter page */

.card--corner {
  .wrapper {
    border: 1px solid $lightgray;
    border-radius: 10px;
    overflow: hidden;
    .card__image-wrapper {
      box-shadow: 0 0 0 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.supporter-polling {
  margin: 30px 0;
  h4 {
    text-align: left;
    text-transform: capitalize;
    font-size: 24px;
  }
}

.card--corner__polling {
  .wrapper {
    .content {
      .poll-name,
      .poll-number {
        display: block;
        font-size: 16px;
        text-align: center;
        font-weight: 600;
      }
      .poll-number {
        color: $primary;
      }
    }
  }
}

/* liga1 - club page */

.card--club {
  margin-bottom: 30px;
  .wrapper {
    border: 1px solid $lightgray;
    border-radius: 10px;
    overflow: hidden;
    .card__image-wrapper {
      box-shadow: 0 0 0 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      .responsive {
        a {
          padding-bottom: 70%;
        }
      }
    }
    .content {
      background: $lightgreen;
      color: $primarytext;
      text-align: center;
      position: relative;
      a {
        color: #fff;
      }
      .club-logo {
        width: 80px;
        height: 80px;
        background: #fff;
        margin: -50px auto 20px;
        border-radius: 100%;
        span {
          line-height: 80px;
          vertical-align: top;
          img {
            max-height: 54px;
          }
        }
      }
      h2 {
        margin: 0 0 10px;
        font-size: 16px;
        border-bottom: 1px solid #fff;
        padding-bottom: 30px;
      }
      span {
        display: block;
        font-size: 12px;
        &.title-place {
          font-weight: 600;
        }
      }
    }
  }
}

.widget-box--club {
  .pills-web {
    display: block;
  }
  .column__title {
    text-align: center;
  }
}

.club-section-fact {
  .column {
    .column__body {
      .table--compact__lowercase {
        th {
          text-align: left;
          text-transform: capitalize;
          &:first-child {
            padding-left: 20px;
          }
          &:last-child {
            text-align: center;
          }
        }
        tbody {
          tr {
            td {
              text-align: left;
              text-transform: capitalize;
              padding: 15px 8px 15px 20px;
              &:last-child {
                text-align: center;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}

/* liga1 - club player tab */

.table--classment__player {
  >thead {
    >tr {
      >th {
        padding: 25px;
        background: $mediumwhite;
        font-size: 14px;
      }
    }
  }
  td {
    background: $darkwhite;
    font-size: 14px;
  }
  div[class*="pl-"] {
    float: left;
    margin-right: 20px;
  }
  .pl-image {
    span {
      width: 55px;
      height: 55px;
      object-fit: cover;
      display: block;
      overflow: hidden;
    }
  }
  .pl-number {
    line-height: 55px;
    font-size: 24px;
    font-weight: 600;
  }
  .pl-info {
    padding: 8px;
    span {
      display: block;
      font-size: 14px;
      text-align: left;
      &:first-child {
        font-weight: 600;
      }
    }
  }
}

/* liga1 - statistik */

.box-statistic--table {
  h3 {
    padding-left: 15px;
  }
}

.table--compact__clubstat {
  tbody {
    tr {
      &.highlight-table {
        >td {
          padding: 20px 55px;
        }
        background-image: url('../img/elang.png') !important;
        background-repeat: no-repeat !important;
        background-position: left bottom !important;
        div[class*="stat-"] {
          float: left;
          margin-right: 20px;
        }
        .stat-img {
          img {
            width: 60px;
          }
        }
        .stat-number {
          font-size: 24px;
        }
        .stat-info {
          text-align: left;
          font-size: 16px;
          p {
            margin-bottom: 5px;
            &.stat-name {
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
}

.club-goal {
  .column {
    .column__body {
      .table--compact__clubstat__goal {
        thead {
          tr {
            th {
              &:first-child {
                text-align: left;
                padding-left: 55px;
              }
            }
          }
        }
        tbody {
          tr {
            td {
              font-size: 14px;
              width: 70%;
              text-align: left;
              border-top: 0;
              padding: 15px 8px;
              &:first-child {
                width: 15%;
                padding-left: 55px;
              }
              &:last-child {
                width: 15%;
                padding-right: 55px;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}

.drop-small {
  display: block;
  width: auto;
  height: auto;
  text-align: left;
  .dropdown-nav {
    display: block;
    width: auto;
    height: auto;
    padding-bottom: 0px;
    text-align: left;
    padding-left: 0;
    .dropdown-nav__item {
      .dropdown-nav-anchor,
      .subnav-anchor {
        padding: 8px 16px;
        font-size: 12px;
      }
      &:hover {
        .subnav-list {
          display: block;
        }
      }
    }
    .subnav-list {
      display: none;
      color: #555;
      background: rgba(255, 255, 255, 0.95);
    }
  }
  @media screen and (min-width: 64em) {
    position: absolute;
    display: none;
    .subnav-list {
      border-bottom: solid 5px rgba(119, 164, 56, 0.5);
      position: absolute;
      top: 0;
      left: 100%;
      min-width: 150px;
      min-height: 95px;
    }
  }
}

// pagination
nav[aria-label="page navigation"] {
  left: 0;
  right: 0;
  margin: auto; // position: absolute;
  position: relative;
  bottom: 0;
  width: 50%;
  text-align: center;
  z-index: 50;
}
