.match {
  padding: 30px 40px;
  // border: 1px solid $blue;
  background: $white;
  margin-top: -30px;
  .highlight {
    .match-header {
      text-transform: uppercase;
      font-size: 18px;
      p {
        text-align: left;
      }
      span {
        // float: right;
        display: inline-block;
        &:first-child {
          color: $white;
        }
        &:last-child {
          float: right;
        }
        a {
          color: $yellowmild;
          text-transform: capitalize;
        }
      }
    }
    .details {
      padding: 20px;
      .date {
        width: 100%;
        display: block;
        text-align: center;
        color: $grayicon;
        font-size: 13px;
        margin-bottom: 20px;
      }
      img {
        width: 60%;
      }
      .home {
        text-align: center;
      }
      .club {
        text-align: center;
        color: $grey;
        span {
          width: 100%;
          display: block;
          font-size: 16px;
        }
        .score {
          thead {
            background: transparent;
          }
          tbody {
            td {
              font-size: 18px;
            }
          }
          td {
            text-transform: uppercase;
            font-size: 16px;
            padding: 5px;
            color: $grey;
            width: 10%;
            &:first-child {
              text-align: right;
            }
            &:last-child {
              text-align: left;
            }
          }
        }
        button {
          padding: 5px 15px;
          background: $yellow;
          border: none;
          margin: 10px 0;
          a {
            text-transform: uppercase;
            font-size: 12px;
          }
        }
      }
      .away {
        text-align: center;
      }
    }
    .upcoming-match {
      .details {
        .club {
          button {
            background: $blue;
            a {
              color: $white;
            }
          }
        }
      }
    }
  }
  .standings {
    .table {
      tr {
        &:hover {
          // @include pulse();
        }
      }
    }

    button {
      width: 100%;
      background: $blue;
      text-align: left;
      padding: 20px 25px;
      border: 0;
      border-radius: 0;
      font-size: 16px;

      a {
        color: $white;
        text-transform: capitalize;
        font-variant: normal;
      }
    }
  }

  table {
    thead {
      background: $gray;
      tr {
        color: $blue;
      }
    }
    tbody {
      .active {
        color: $blue;
        text-transform: uppercase;
        font-size: 18px;
      }
      td {
        font-size: 12px;
        font-weight: bold;
        padding: 20px 10px;
        &:nth-child(2) {
          text-align: left;
        }
      }
    }
  }
}

.match-header {
  padding: 20px 25px;
  background: $blue;
  p {
    margin: 0;
    color: $white;
    text-align: center;
  }
}
