.nav {
  background: transparent;
  .active {
    background: transparent;
  }
  ul {
    list-style: none;
    li {
      a {}
    }
  }
}

.navbar-nav {
  position: relative;
  li {
    position: static;
    a {
      color: $darkergray;
      font-size: 20px;
    }
    &:last-child {
      // width: 100%;
      // position: absolute;
      // right: 0;
      display: block;
    }
  }
}

.navbar-default {
  //@include mega-menu;
  background: transparent;
  border-color: transparent;
  .active {
    a {}
  }
  .nav {
    .active {
      a {
        color: $darkgray;
      }
    }
    li {
      a {
        color: $darkergray;
        font-size: 16px;
        text-transform: uppercase; // letter-spacing: 3px;
      }
    }
  }
}

.navbar-collapse {
  position: relative;
}

.sub-menu {
  .subnav-list {
    .subnav-list__item {
      right: auto;
      &:hover {
        .dropdown-nav__item {
          display: block;
        }
      }
      a {
        padding: 5px !important;
      }
    }
    .dropdown-nav {
      position: absolute;
      left: 100%;
      top: 0;
      height: 100%;
      width: 100%;
      .dropdown-nav__item {
        background: hsla(0, 0%, 100%, .95);
        display: none;
        padding: 3.5px 5px;
        &:last-child {
          border-bottom: 5px solid rgba(119, 164, 56, .5);
        }
      }
    }
  }
}

// search box
.navbar {
  z-index: 60;
}

.sb-search {
  // width: 100%;
  .sb-search__input {
    padding: 10px;
  }
}

.sb-icon__search {
  .fa-search {
    margin-top: 5px;
  }
}

.sb-search {
  &.sb-search-open {
    width: 33%;
  }
  position: absolute; // margin-top: 10px;
  width: 0%;
  min-width: 40px;
  height: 40px;
  right: 0;
  top: -5px;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s ease-in;
  -webkit-backface-visibility: hidden;
  .sb-search__input {
    position: absolute;
    top: 0;
    right: 0px;
    border: none;
    outline: none;
    background: #fff;
    width: 100%;
    height: 60px;
    margin: 0;
    z-index: 10;
    padding: 10px 65px 30px 10px;
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
  }
  input[type="search"].sb-search__input {
    -webkit-appearance: none; // -webkit-border-radius: 0px;
  }
  .sb-search__input::-webkit-input-placeholder {
    color: $accent;
  }
  .sb-search__input:-moz-placeholder {
    color: $accent;
  }
  .sb-search__input::-moz-placeholder {
    color: $accent;
  }
  .sb-search__input:-ms-input-placeholder {
    color: $accent;
  }
  .sb-icon__search,
  .sb-search__submit {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
  }
  .sb-search__submit {
    // background: #fff;
    background: $base;
    /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    // opacity: 0;
    color: transparent;
    color: red;
    border: none;
    outline: none;
    z-index: -1;
  }
  .sb-icon__search {
    background: $base;
    /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    // opacity: 0;
    color: transparent;
    color: red;
    border: none;
    outline: none;
    z-index: 20;
    &:before {
      content: "";
    }
  }
  .no-js .sb-search {
    width: 100%;
  }
  .sb-search.sb-search-open .sb-icon__search,
  .no-js .sb-search .sb-icon-search {
    background: $accent;
    color: $primary;
    z-index: 11;
  }
}
