.news {
  h1 {
    color: $blue;
    margin: 45px 0;
  }
  .news-group {
    margin-left: -15px;
    margin-right: -15px;
  }
  .pattern-line {
    background: $blue;
    padding: 1px 20px;
    a {
      color: $white;
    }
    .pattern {
      border-top-color: $blue;
      right: calc(100% - 1px);
      &:before {
        background: $blue;
      }
      &:after {
        background: $mildblue;
      }
    }
  }
}

.pattern-line {
  @include pattern-lining;
}
