.slider {
  position: relative;
  .team-slider {
    &:before {
      // content: "";
      // box-shadow: 40px -23px 64px 20px rgba(33, 33, 33, 0.64);
      //  height: 20px;
      // width: 100%;
      // position: absolute;
      // top: calc(100% - 50px);
    }
  }
  @include header-padding;
  h2 {
    margin-bottom: 80px;
  }
  .slick-arrow {
    position: absolute;
    top: 40px;
    right: 50px;
  }
  .slick-next {
    &:before {
      content: "\f105";
      font-family: fontawesome;
      background: $blue;
      padding: 10px 20px;
      font-size: 30px;
    }
  }
  .slick-prev {
    left: calc(100% - 120px);
    z-index: 20;
    &:before {
      content: "\f104";
      font-family: fontawesome;
      background: $blue;
      padding: 10px 20px;
      font-size: 30px;
    }
  }
  .slick-slide {
    position: relative;
  }
  .slick-active {
    .profiler {
      .name {
        @include fadeInRight($duration: 4s);
      }
      .table {
        @include fadeInRight($duration: 3s);
      }
    }
    .photo {
      @include fadeInUp( $duration: 4s);
    }
    .description {
    }
  }
  .image {
    &:after {
      content: "";
      position: absolute;
      border-bottom: 0;
      border-left: 0 solid transparent;
      border-right: 200px solid transparent;
      border-top: 1000px solid $blue;
      height: 0;
      width: 250px;
      top: 0;
    }
  }
  .profiler {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    padding: 80px;
    width: 100%;

    .responsive {
      width: auto;
      height: 100%;
      a {
        padding-bottom: 100%;
      }
      img {
        width: auto;
        height: 100%;
      }
    }
    tr {
      &:nth-child(even) {
        color: white;
      }
      th,
      td {
        text-align: left;
        text-transform: capitalize;
        font-size: 20px;
        font-style: italic;
        border-top: 0;
      }
    }
    .name {
      font-size: 45px;
      text-transform: capitalize;
      .number {
        color: white;
        font-size: 100px;
        display: block;
        position: absolute;
        right: 100%;
        bottom: calc(100% - 115px);
      }
    }
  }
  .pattern-line--blue {
    background: $blue;
    padding: 1px 20px;
    a {
      color: $white;
    }
    .pattern {
      border-top-color: $blue;
      right: calc(100% - 1px);
      &:before {
        background: $blue;
      }
      &:after {
        background: $mildblue;
      }
    }
  }
}

.home-slider{
  ul{
    li{
      button{
        &:before{
          width:15px !important;
          height: 15px !important;
        }
      }
    }
  }
}