.statistic {
  background: $darkgray;
  padding: 100px 0;
  h2 {
    color: $white;
    margin-bottom: 125px;
  }
  .has-highlight {
    &:hover {
      animation: none;
    }
  }

  table {
    .highlight {
      background: $blue;
      tr {
        &:hover {
          animation: none;
        }
      }

      & + td {
        background: $blue;
        border-left: 0;
      }
    }
    tr {
      border: 2px solid $grayborder;
      border-bottom: 0;
      text-transform: uppercase;
      font-size: 22px;
      &:nth-child(even) {
        background: $lightgray;
      }
      &:hover {
        @include pulse(
          $function: ease-out,
          $duration: 0.3s
        );
      }
      th {
        border-top: none;
        width: 70%;
        color: $white;
        text-align: left;
        padding: 20px;
      }
      td {
        padding: 20px;
        border-top: none;
        width: 30%;
        color: $yellowmild;
        text-align: left;
        border-left: 2px solid $grayborder;
        font-size: 40px;
      }
      &:last-child {
        border-bottom: 2px solid $grayborder;
      }
    }
  }
}
