
// header section
.store--header {
  background: $basewhite;
  position: fixed;
  z-index: 30;
  width: 100%;

  .header-wrapper {
    position: relative;
    height: 170px;
  }

  .upper-bar {
    background: $basewhite;
    height: 58px;
    position: absolute;
    width: 100%;
    top: 0;
    border-bottom: 1px solid $whiter;

    .container {
      display: flex;
      flex-direction: row;

      .search-bar {
        height: 57px;
        input {
          height: 100%;
          width: 100%;
          background: #dcdfe7;
          border-style: none;
          padding: 10px;
        }
        .fa-search {
          position: absolute;
          right: 25px;
          top: 0;
        }
      }
      .internationale {
        padding-left: 0;
        padding-right: 0;

        a.inter {
          display: inline-block;
          color: $blue;
          border-right: 1px solid $whiter;
          line-height: 57px;
          height: 57px;
          vertical-align: top;
          font-size: 14px;
          padding: 0 15px;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
        }

        .lang {
          display: inline-block;
          padding: 0 8px;
        }
      }
    }
  }

  .dropdown {
    button {
      border: 0;
      background: #edeff4;
      padding: 3px 5px;
    }
    .flag img {
      width: 15px;
      margin-right: 5px;
      vertical-align: text-top;
    }
  }

  .nav {
    background: transparent;
    .active {
      background: transparent;
    }
    ul {
      list-style: none;
      li {
        a {
        }
      }
    }
  }

  .navbar-nav {
    li {
      position: static;
      a {
        color: $white;
        font-size: 16px;
      }
    }
  }

}
.store--header-product {
  background: $white;
}

// inner banner section
.store--hero {
  background-image: none;
  height: 100%;
  .st-hero-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    h1 {
      position: static;
      height: auto;
      font-size: 80px;
      margin-bottom: 15px;
      &:before,
      &:after {
        display: none;
      }
    }
    p {
      color: $white;
      font-size: 30px;
      text-transform: uppercase;
    }
  }
}

// inner page section
.store--inner-page,
.store--inner-product {

  // .slick-prev {
  //   left: 0;
  // }
  // .slick-next {
  //   right: 0;
  // }
  .slick-prev:before {
    content: "\f104";
    font-family: 'FontAwesome';
    font-size: 60px;
    color: $blue;
  }
  .slick-next:before {
    content: "\f105";
    font-family: 'FontAwesome';
    font-size: 60px;
    color: $blue;
  }
  .slick-dots {
    li {
      button {
        color: $white;
        &:before {
          font-size: 60px;
          color: $blue;
        }
      }
    }
  }
}
.store--inner-product {
  margin-top: 170px;
  background: $stlightgrey;
}
.store--inner-banner {
  position: relative;
  .container {
    display: flex;
    flex-direction: row;
    .side {
      flex: 1;
      &:first-child {
        p {
          color: $yellowmild;
          &.text-flip {
            transform: scale(1, -1);
            background: -webkit-linear-gradient(#08349b, #444);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 20px;
            opacity: .3;
            margin-top: -10px;
          }
        }
      }
      &:last-child {
        p {
          color: $white;
          &.text-flip {
            transform: scale(1, -1);
            background: -webkit-linear-gradient(#ffcc00, #444);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 20px;
            opacity: .3;
            margin-top: -10px;
          }
        }
      }
    }
  }
  .st-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    text-align: center;
    p {
      font-size: 32px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 0;
    }
  }
}


/* common used */
.form-control {
  height: 60px;
  font-size: 18px;
}
.nav-pills--store {
  margin-bottom: 50px;
  border-bottom: 1px solid $stgrey;
  li {
    float: left;
    padding: 10px 20px;
    background: $white;
    margin-right: 3px;

    a {
      color: $blue;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      &:hover,
      &:focus,
      &:visited {
        background-color: transparent;
      }
    }

    &.active,
    &:hover,
    &:focus {
      background: $blue;
      a {
        color: $white;
        background: transparent;
      }
    }

    &.active {
      a {
        &:hover,
        &:focus,
        &:visited {
          background-color: transparent;
        }
      }
    }
  }
}

/* intro */
.st-intro-box {
  background: $white;
  .container {
    display: flex;
    flex-direction: row;
    .side {
      flex: 1;
      padding: 20px 0;
      .box-image {
        width: 10%;
        float: left;
        margin-right: 20px;
        .img-round {
          border-radius: 100%;
          padding-bottom: 100%;
          position: relative;
          height: 0;
          overflow: hidden;
          display: block;
          z-index: 1;
          img {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            max-width: inherit!important;
            object-fit: cover;
          }
        }
      }
      .intro-note {
        float: left;
        font-size: 20px;
        vertical-align: middle;
        line-height: 55px;
        letter-spacing: 1px;
        font-weight: 500;
      }
    }
  }
}
.st-intro-box__b {
  background: $stmediumgrey;
}

/* heading */
.section-title__st {
  text-align: left;
  margin: 40px 0;
  font-size: 34px;
}
.heading-box {
  h3 {
    float: left;
    line-height: 60px;
    span {
      font-size: 24px;
      text-transform: none;
      letter-spacing: 1px;
      font-weight: normal;
    }
  }
  .heading-act {
    float: right;
    display: flex;
    margin: 40px -15px 0;
    .form-group {
      margin-bottom: 0;
      padding: 0 15px;
      select {
        padding: 6px 20px;
      }
    }
  }
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}
.heading-box__b {
  h3 {
    float: none;
    line-height: 34px;
  }
  .heading-act {
    float: none;
    margin: 30px -15px 30px;
  }
  .heading-act__b {
    margin-bottom: 30px;
    .act-title {
      float: left;
      font-size: 20px;
      line-height: 60px;
    }
    .form-group {
      margin-bottom: 0;
    }
  }
}
.heading-box__c {
  h3 {
    float: none;
    span {
      font-size: 24px;
      text-transform: none;
      letter-spacing: 1px;
      font-weight: normal;
    }
  }
  .heading-sub {
    font-size: 30px;
    font-weight: 600;
  }
}

/* card */
.st--newcol {
  .responsive {
    a {
      padding-bottom: 90%;
    }
  }
  .content {
    .st__newcol {
      border-top: 0;
      padding-top: 0;
      text-align: center;
      span {
        text-transform: uppercase;
        line-height: 50px;
        vertical-align: top;
        font-weight: 600;
        font-size: 26px;
        &:first-child {
          font-size: 40px;
          vertical-align: text-top;
          color: $blue;
        }
      }
    }
  }
}
.st--card-shop {
  margin-bottom: 30px;
  .wrapper {
    position: relative;
  }
  .responsive {
    a {
      padding-bottom: 140%;
      img {
        position: absolute;
        width: 100%;
        height: auto;
        display: block;
        text-align: -webkit-right;
        margin: 10px auto;
      }
    }
  }
  .st__content {
    position: absolute;
    width: 100%;
    background: rgba(255, 245, 0, .7);
    bottom: 10%;
    .st__excerpt {
      border-top: 0;
      padding-top: 0;
      text-align: center;
      color: $blue;
      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        li {
          display: inline-block;
          .ply-number {
            font-weight: 600;
            font-size: 40px;
            line-height: 50px;
            display: inline-block;
            margin-right: 20px;
          }
          .ply-name {
            font-size: 18px;
            text-transform: uppercase;
          }
          .ply-position {
            display: block;
            color: $white;
            text-align: left;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
.st--card-shop__b {
  .wrapper {
    padding: 10px;
    border: 1px solid $stgrey;
    background: $white;
  }
  .content {
    background: transparent;
    padding: 30px 0 10px;
    .st__prodesc {
      padding-top: 20px;
      border-top: 1px solid $stmediumgrey;
      span {
        display: block;
        text-align: center;
        text-transform: inherit;
        &.pro-sub {
          margin-bottom: 20px;
        }
        &.pro-price {
          color: $red;
          font-weight: 600;
          font-size: 20px;
        }
      }
    }
  }

  &:hover {
    .wrapper {
      background: $white;
    }
  }

  .padd-medium {
    a {
      padding-bottom: 65%;
      img {
        position: absolute;
        width: 60%;
        height: auto;
        display: block;
        text-align: -webkit-right;
        margin: 0 auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
.st--card-shop__c {
  .responsive {
    a {
      padding-bottom: 85%;
      img {
        position: absolute;
        width: 60%;
        height: auto;
        display: block;
        text-align: -webkit-right;
        margin: 0 auto;
        left: 50%;
        right: 50%;
        transform: translate(-50%);
      }
    }
  }
}
.st--card-shop__d {
  &:focus {
    outline: 0;
  }
  .responsive {
    span {
      padding-bottom: 100%;
      display: block;
      background: $white;
      border: 5px solid $white;
      img {
        position: absolute;
        width: auto;
        height: 85%;
        display: block;
        margin: 0 auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
.st--card-shop__e {
  .wrapper {
    background: $white;
  }
  .responsive {
    a {
      padding-bottom: 0;
      height: auto;
      img {
        width: auto;
        position: relative;
      }
    }
  }
  .content__a {
    background: transparent;
    padding: 30px 0 10px;
    .st__prodesc {
      padding-top: 20px;
      border-top: 1px solid $stmediumgrey;
      span {
        display: block;
        text-align: center;
        text-transform: inherit;
        &.pro-sub {
          margin-bottom: 20px;
        }
        &.pro-price {
          color: $red;
          font-weight: 600;
          font-size: 20px;
        }
      }
    }
  }
}

/* section in store homepage */
.st-new-collection {
  padding-bottom: 30px;
  border-bottom: 1px solid $stgrey;
}
.st-shop-player {
  padding-bottom: 30px;
  .st-slider-shop {
    .slick-list {
      margin-left: -27px;
    }
    .slick-slide {
      margin-left: 27px;
    }
  }
  .link {
    width: calc(90% - 83px);
    margin: auto;
    text-align: center;
    .action {
      @include custom-button;
      background: $blue;
      a {
        span {
          transform: skewX(-15deg);
          display: block;
          color: $white;
        }
      }
      .after,
      .before {
        &:after {
          background: $mildblue;
        }
        &:before {
          background: $blue;
        }
      }

    }

  }
}
.st-personal-kit {
  padding-bottom: 60px;
  .st-slider-kit {
    padding: 0 40px;
  }
}
.st-product-tab {
  .tab-content {
    margin: 0;
  }

  .st--card-shop {
    width: 245px;
    border: 1px solid $stgrey;
    padding: 10px;
    margin-right: 39px;
    .content {
      background: transparent;
    }
    .st__prodesc {
      padding-top: 0;
      border-top: 0;
      span {
        display: block;
        text-align: center;
        text-transform: inherit;
        &.pro-name {
          margin-bottom: 20px;
        }
        &.pro-price {
          color: $red;
        }
      }
    }
    &:hover {
      background: $white;
    }
  }
}

.st-showcase {
  &:after {
    clear: both;
    display: block;
    content: "";
  }
}

// form order
.box-order {
  letter-spacing: 1px;
  font-size: 20px;

  form {
    div[class*="order-"] {
      margin-bottom: 25px;
    }
  }

  .order-info {
    .order-quantity {
    position: relative;
    width: 100px;

    input {
      width: 100%;
      height: 36px;
      border: 2px solid #ededed;
      border-radius: 4px;
      background: none;
      text-align: center;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
    }

    .incr-btn {
      display: block;
      position: absolute;
      width: 36px;
      height: 36px;
      font-size: 18px;
      color: #606060;
      background: $stlightgrey;
      font-weight: 300;
      text-align: center;
      line-height: 33px;
      text-decoration: none;
      top: 0;
      right: 0;
      &:first-child {
        right: auto;
        left: 0;
      }
    }
  }
    .order-total {
      padding: 20px 0;
      border-top: 1px solid $stlightgrey;
      border-bottom: 1px solid $stlightgrey;
      span {
        &.price {
          color: $red;
          font-size: 22px;
          font-weight: 600;
        }
      }
    }
  }
}
.option-item {
  display: inline-block;
}
.size-option label > input[type="radio"] + span {
  margin-bottom: 10px;
  padding: 10px 15px;
  background-color: $stlightgrey;
  display: inline-block;
  border-radius: 3px;
  color: $darkgray;
  transition: all 0.5s ease;
  font-weight: 400;
  font-size: 16px;
}
.size-option label > input[type="radio"] {
  display: none;
}
.size-option input[type="radio"] + span:hover {
  background-color: $stlightgrey;
  cursor: pointer;
}
.size-option input[type="radio"]:checked + span {
  background-color: $stlightgrey;
}
.size-option input[type="radio"]:checked + span:after {
  font-family: "FontAwesome";
  content: "\f00c";
  margin-left: 10px;
}

.st-showbox {
  padding: 50px;
  background: $basewhite;
  border: 1px solid $stgrey;

  .box-order {
    form {
      min-height: 500px;
      position: relative;

      button {
        position: absolute;
        bottom: 0;
      }
    }
  }
}
.st-showbox__b {
  background: transparent;
  border: 0;
  padding: 0;
  .box-order {

    .order-info {
      padding: 20px;
      background: $white;
    }
    form {
      min-height: 100%;

      button {
        position: relative;
      }
    }
  }
}

.st-tab-inner {
  .tab-content {
    margin: 0;
  }
}

// footer section
.footer--store {
  position: relative;
  bottom: 0;
  width: 100%;
  background: $blue;

  .st-footer-box {
    background: $blue;
    padding: 80px 0;
    color: $white;
    display: flex;
  	flex-direction: row;
  	flex-wrap: nowrap;
  	justify-content: flex-start;
  	align-items: stretch;
  	align-content: space-between;

    > div:last-child {
      margin-left: auto;
    }

    .st-footer-link {
      padding: 0 15px;

      h4 {
        text-align: left;
      }

      ul {
        padding-left: 0;
        li {
          display: block;
          padding: 10px 0 0;
          a {
            color: $white;
          }
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
