.video-group {
  padding: 100px 0;
  background-image: url("../img/bg-persib.png");
  h2 {
    color: $yellowmild;
    margin-bottom: 90px;
  }
  .video-grid {
  }
  .video {
    margin-bottom: 18px;
    .ytp-button {
      &:after {
        position: absolute !important;
        content: "\f01d" !important;
        font-family: fontawesome !important;
        font-size: 60px !important;
        top: 0 !important;
      }
      svg {
        display: none !important;
      }
    }
  }
}
