// card group
@mixin card {
  // margin-bottom: 25px;
  &:hover .wrapper {
    // background: $primary;
    transition: 0.3s ease-in; // @include shade;
    // @include njeblug;
  }
  .wrapper {
    // background: $primary;
    .card__image-wrapper {
      @include shadownradius;
      display: block;
      overflow: hidden;
      transform: scale(1);
      img {
        transition: .2s ease-in;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  .responsive {
    // height: 200px;
    height: auto;
  }
  .responsive--portrait {
    a {
      img {
        height: 100%;
        width: auto;
        object-fit: cover;
      }
    }
  }
  .content {
    color: $darkergray;
    padding: 15px;
    background: $base;
    .card-header {
      font-size: 12px;
      margin-bottom: 10px;
      .category {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0;
        color: $primary; // width: 15%;
        // display: inline-block !important;
        // border: 1px solid $primary;
        // padding: 5px;
        // border-radius: 4px; // box-shadow: 0 2px 12px 0 rgba(172, 164, 164, 0.56);
      }
    }
    .time {
      float: right;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .excerpt {
    font-size: 18px;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    height: 25px;
  }
}

.card-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}

.card {
  @include card;
}

.card--headline {
  &:hover {
    .wrapper {
      animation: none;
    }
  }
  .responsive {
    a {
      display: initial;
      img {
        position: relative;
      }
    }
  }
}

.card--home {
  margin-bottom: 25px;
  &:hover .wrapper {
    background: $primary;
    transition: 0.3s ease-in; // @include shade;
    // @include pulse( $duration: 0.8s);
  }
  .tag {
    position: absolute;
    background: $yellow;
    padding: 5px 10px;
    /* color: white; */
    text-transform: uppercase;
    z-index: 20;
    left: 25px;
    top: 15px;
    border-radius: 5px;
    a {
      color: $base;
    }
  }
  .wrapper {
    background: $primary;
  }
  .responsive {
    height: 200px;
  }
  .card-header {
    font-size: 11px;
    margin-bottom: 18px;
  }
  .content {
    color: $base;
    padding: 15px;
    .excerpt {
      font-size: 18px;
      letter-spacing: normal;
      height: 90px;
    }
    button {
      font-size: 11px;
      border: 0;
      background: transparent;
      a {
        color: $yellow;
        text-transform: uppercase;
      }
    }
  }
}

.card.card--video {
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .card__image-wrapper {
    transform: unset;
  }
}

.card--media {
  .excerpt {
    a {
      color: $primary;
    }
  }
}

.card--detail {
  .excerpt {
    // height: auto;
    border-top: 1px solid $darkergray;
    border-bottom: 1px solid $darkergray;
    padding: 30px 0;
    .excerpt__title {
      text-transform: uppercase;
      color: $primary;
      font-weight: 700; // margin: 10px 0;
    }
  }
  .excerpt__description {
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 0; // margin-bottom: 10px;
  }
  .card__info {
    padding: 10px 0;
    color: $base;
  }
}

.card__image--video {
  a {
    &:after {
      content: '\f04b';
      font-family: fontawesome;
      position: absolute;
      color: $primary;
      left: 0;
      right: 0;
      margin: auto;
      /* margin-right: auto; */
      font-size: 50px;
      line-height: 50px;
      width: 50px;
      height: 50px;
      top: 0;
      bottom: 0;
    }
  }
}
