.column-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.column {
  border-radius: $grad;
  overflow: hidden;
  transition: 0.3s ease-in;
  background: $base;
  margin-bottom: 30px;
  &:hover {}
  .column__header {
    padding: 10px 16px;
    .column__title {
      -webkit-font-smoothing: antialiased;
      &.column__title--vs {
        margin: 0 10px;
      }
    }
  }
  .column__progress {
    background: $lightgray;
    padding: 40px;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    .column__progress--home {
      text-align: left;
    }
    .column__progress--away {
      text-align: right;
    }
    .progress {
      margin-top: 20px;
      position: relative;
      overflow: initial;
      .progress-bar {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        .sr-only {
          position: absolute;
          background: $primarytext;
          color: $darkgray;
          width: 50px;
          height: 50px;
          border-radius: 100%;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          clip: auto;
          font-size: 25px;
          line-height: 50px;
          top: -15px;
        }
      }
    }
  }
  .column__body {
    tbody {
      tr {
        cursor: pointer;
        &:hover {
          background: $lightgray;
        }
      }
    }
  }
  .column__footer {
    background: $darkwhite;
    padding: 10px;
    a {
      width: 100%;
      display: block;
      text-align: center;
      padding: 5px 0;
    }
  }
  .column {
    .table--compact__clubstat {
      tbody {
        .highlight-table {
          background-image: url(../img/elang.png);
          background-repeat: no-repeat;
          background-position: 0 100%;
        }
      }
    }
  }
}

.column--form {
  .column__body {
    padding: 10px 20px; // margin-bottom: 10px;
    background: $darkwhite;
    .input-block {
      margin: 10px 0 0 0;
      .form-control {
        border: 0;
      }
    }
  }
}

.column--jadwal {
  .column__title {
    margin-bottom: 0;
  }
  .column--jadwal__date {
    background: $accent;
    color: $primarytext;
  }
  .column--jadwal__wrap {
    .slick-arrow {
      font-size: 20px;
    }
    .slick-prev {
      left: 25px;
      z-index: 20;
      top: 45px;
      &:before {
        content: "\f104";
        font-family: fontawesome;
      }
    }
    .slick-next {
      right: 25px;
      z-index: 20;
      top: 45px;
      &:before {
        content: "\f105";
        font-family: fontawesome;
      }
    }
  }
}

.column--jadwal__slider {
  .column__body {
    tr:hover,
    tr:hover+tr {
      background: $lightgray;
    }
    tr:nth-child(3n):hover {
      background: transparent;
    }
  }
}

.column--pertandingan {
  .column--jadwal__wrap {
    .slick-arrow {
      font-size: 20px;
    }
    .slick-prev {
      left: 25px;
      z-index: 20;
      top: 45px;
      &:before {
        content: "\f060";
        font-family: fontawesome;
      }
    }
    .slick-next {
      right: 25px;
      z-index: 20;
      top: 45px;
      &:before {
        content: "\f061";
        font-family: fontawesome;
      }
    }
  }
}

.column--match-detail {
  .column__header {
    justify-content: center !important;
  }
  .fa {
    color: $darkergray;
  }
  .column__body {
    tbody {
      tr {
        cursor: pointer;
      }
      td {
        text-transform: uppercase;
      }
    }
    .time {
      .time__board {
        background: $primary;
      }
      span {
        display: inline-block;
      }
    }
  }
}

.column--match-rapor {
  .column__header {
    .column__title--vs {
      color: $darkergray;
      background: $primarytext;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      margin: 0 20px;
      text-align: center !important;
      font-size: 30px;
      line-height: 43px;
    }
  }
  td {
    font-weight: 700;
  }
  .table__home-klub {
    text-align: right !important;
  }
  .table__away-klub {
    text-align: left !important;
  }
}

.column__body--lineup {
  .table__lineup {
    &.table__lineup--cadangan {
      max-height: 420px;
      overflow: auto;
      display: block;
    }
    thead {
      background: $gray;
      .title {}
      th {
        text-transform: capitalize;
        border-bottom: 0;
      }
    }
    tbody {
      &.lineup {
        padding: 10px 0 5px 0;
        display: block;
        td {
          width: 5%;
        }
      }
      .nama {
        font-weight: 700;
      }
      .nomor {
        font-weight: 700;
        font-size: 30px;
      }
      tr {
        &:nth-child(-n + 3),
        &:nth-last-of-type(-n + 3) {
          background: transparent;
        }
        &:nth-child(even) {}
        th {
          border-top: 0;
        }
        td {
          padding: 5px 0;
          border-top: 0;
          p {
            margin: 5px 0;
            text-transform: capitalize;
          }
        }
      }
    }
    span {
      img {
        width: 46px;
        height: 46px;
        margin-right: 10px;
        object-fit: cover;
        border: 1px solid $gray;
      }
    }
  }
}

.column--klasemen {
  table {
    margin-bottom: 0;
    thead {
      td {
        &:first-child {
          padding-left: 20px;
        }
        &:last-child {
          padding-right: 20px;
        }
        padding: 20px 0;
        text-transform: capitalize;
        font-weight: 700;
      }
    }
    tbody {
      tr {
        padding: 0 20px;
        &:nth-child(-n+3),
        &:nth-last-child(-n+3) {
          background: $lightgray;
        }
      }
      td {
        &:first-child {
          padding-left: 20px;
        }
        &:last-child {
          padding-right: 20px;
          font-weight: 700;
        }
        &:nth-child(-n+3) {
          font-weight: 700;
        }
        padding: 20px 0;
      }
    }
  }
}

.column--statistik {
  .highlight-table {
    background-image: url('../img/elang.png');
  }
}

.column {
  &:not(.column--form) {
    .column__body {}
  }
}

// hide klub favorit login
.right .column-wrapper:nth-last-of-type(n-2) {
  display: none;
}
