.player-formations {
  position: relative
}

.player-formation {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%
}

.player-formation.\--left {
  left: 0
}

.player-formation.\--right {
  right: 0
}

.formation-description {
  font-size: 18px;
  margin: 20px 0 0 0;
  text-transform: capitalize;
}

.player-formation-method {
  // position: absolute;
  // top: 8px;
  // left: 50%;
  // color: #fff;
  // -webkit-transform: translate(-50%, 0);
  // -ms-transform: translate(-50%, 0);
  // transform: translate(-50%, 0)
  // font-size: 18px;
}

@media (min-width: 40em) {
  .player-formation-method {
    // top: 50px;
    // font-size: 18px;
  }
}

.player-positions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 16px
}

.player-positions.\--flipped {
  -webkit-transform: rotateY(180deg) rotateX(180deg);
  transform: rotateY(180deg) rotateX(180deg)
}

.player-positions.\--flipped>* {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg)
}

.player-positions.\--flipped .player {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg)
}

.player-positions .player {
  position: relative;
  z-index: 1;
  width: 15px;
  height: 15px;
  border: solid 2px #B8C1C8;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 8px;
  font-weight: 700;
  line-height: 11px;
  text-align: center;
  background: #fff;
  cursor: pointer
}

.player-positions .player:before {
  position: absolute;
  right: 0;
  top: -8px;
  left: 0;
  z-index: 2;
  display: none;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 8px;
  content: ''
}

.player-positions .player:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  z-index: 3;
  display: none;
  padding: 4px;
  margin-bottom: 8px;
  font-size: 11px;
  font-weight: 400;
  line-height: 1;
  color: #222;
  white-space: nowrap;
  background: #fff;
  content: attr(data-name);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0)
}

.player-positions .player:hover:before,
.player-positions .player:hover:after {
  display: block
}

.player-positions .player+.player {
  margin-top: .8em
}

@media (min-width: 30em) {
  .player-positions .player {
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 26px
  }
}

@media screen and (min-width: 48em) {
  .player-positions {
    padding: 0 32px
  }
  .player-positions .player {
    width: 40px;
    height: 40px;
    line-height: 36px
  }
  .player-positions .player+.player {
    margin-top: 1.6em
  }
}

.player-position:nth-child(2)>.player:not(:first-child):not(:last-child) {
  left: 8px
}

.player-formation.\--left .player-position:nth-child(2)>.player:not(:first-child):not(:last-child) {
  left: -8px
}

.player-position:nth-child(3)>.player:nth-last-child(5):first-child,
.player-position:nth-child(3)>.player:nth-child(n+5) {
  left: -8px
}

.player-formation.\--left .player-position:nth-child(3)>.player:nth-last-child(5):first-child,
.player-formation.\--left .player-position:nth-child(3)>.player:nth-child(n+5) {
  left: 8px
}

.player-position:nth-child(4)>.player:not(:first-child):not(:last-child) {
  left: -8px
}

.player-formation.\--left .player-position:nth-child(4)>.player:not(:first-child):not(:last-child) {
  left: 8px
}
