//contact form
.contact-form {
  margin-top: 30px;
  .input-block {
    background-color: rgba(white, 0.8);
    border: solid 1px $base;
    width: 100%;
    height: 60px;
    padding: 25px;
    position: relative;
    margin-bottom: 20px;
    @include transition(all 0.3s ease-out);
    &.focus {
      background-color: $base;
      border: solid 1px darken($primary, 10%);
    }
    &.textarea {
      height: auto;
      .form-control {
        height: auto;
        resize: none;
      }
    }
    label {
      position: absolute;
      left: 25px;
      top: 25px;
      display: block;
      margin: 0;
      font-weight: 300;
      z-index: 1;
      color: $darkergray;
      font-size: 18px;
      line-height: 10px;
      letter-spacing: 0;
      text-transform: capitalize;
    }
    .form-control {
      background-color: transparent;
      padding: 0 !important;
      border: none; // @include border-radius(0);
      // @include box-shadow(none);
      box-shadow: none;
      height: auto;
      position: relative;
      z-index: 2;
      font-size: 18px;
      color: $darkergray;
    }
    .form-control:focus {
      label {
        top: 0;
      }
    }
  }
  .input-block--radio {
    height: 120px;
  }
}
