.images {
  .thumbnail {
    padding: 0;
  }
}

.images--extended {
  border-radius: $grad;
  overflow: hidden;
  transform: scale(1);
  margin-bottom: 20px;
  box-shadow: $gshade;
  .thumbnail {
    margin-bottom: 0;
  }
}

.images--no-margin {
  border-radius: $grad;
  overflow: hidden;
  transform: scale(1);
  margin-bottom: 0;
  box-shadow: $gshade;
  .thumbnail {
    margin-bottom: 0;
  }
}
