.inner-banner {
  position: relative; // height: 250px;
  margin-bottom: 30px;
  .inner-banner__image {
    background: $darkgreen; // height: 400px;
    text-align: center; // overflow: hidden;
  }
  .inner-banner__title {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 30px;
    height: 50px;
    margin-top: -125px;
    text-align: left;
    padding-left: 100px;
    &:after {
      content: "";
    }
    &:before {
      content: "";
    }
  }
}

.inner-banner--match__rev {
  background: $darkgreen;
  padding: 80px 0;
  color: $primarytext;
  .dynamic-banner--rev {
    .stadion-info {
      text-align: center;
      font-size: 18px;
      margin-bottom: 20px;
      span {
        &.bold {
          -webkit-font-smoothing: subpixel-antialiased;
        }
        -webkit-font-smoothing: antialiased;
        width: 100%;
        text-align: center;
        display: block;
        text-transform: uppercase;
      }
    }
    .jadwal-klub {
      span {
        font-size: 30px;
        display: inline-block;
        width: auto;
        text-transform: uppercase;
        line-height: 100px;
        vertical-align: middle;
        letter-spacing: 1px;
      }
      .home {
        text-align: right;
      }
      .score {
        margin-top: 15px;
        tr {
          background: $primary;
        }
        td {
          font-size: 24px;
          color: $primarytext;
        }
      }
      .away {
        text-align: left;
      }
      img {
        width: auto;
        height: 100px;
        margin: 0 20px;
      }
    }
    .match-info {
      margin: 30px 0;
      text-align: center;
      span {
        &.bold {
          -webkit-font-smoothing: subpixel-antialiased;
        }
        -webkit-font-smoothing: antialiased;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 1px;
        width: 100%;
        display: block;
      }
    }
    .player-info {
      color: $primarytext;
      p {
        margin-bottom: 0;
      }
      .player-left {
        text-align: right;
        p {
          padding-right: 20px;
        }
      }
      .player-right {
        text-align: left;
        p {
          padding-left: 20px;
        }
      }
    }
  }
}

.inner-banner--curvy {
  .inner-banner__board {
    color: $primarytext;
    position: absolute;
    top: 50px;
    margin-top: initial;
    width: 60%;
    .klub--name {
      margin-top: initial;
      padding-left: 0;
    }
    .inner-banner__listing {
      .inner-banner__sublisting {
        margin: 10px 0;
        .title {
          text-transform: capitalize;
          font-size: 18px;
          -webkit-font-smoothing: antialiased;
        }
        .description {
          font-size: 18px;
          text-transform: capitalize;
        }
      }
    }
  }
}

.inner-banner--pemain {
  .inner-banner__image {
    height: 400px;
    img {
      position: absolute;
      left: -60px;
      margin-left: auto;
      height: 400px;
      width: auto;
    }
  }
  .inner-banner__board {
    color: $primarytext;
    position: absolute;
    top: 50px;
    margin-top: initial;
    width: 80%;
    .nama-pemain {
      margin-top: initial;
      padding-left: 15px;
    }
    .inner-banner__listing {
      .inner-banner__sublisting {
        margin: 10px 0;
        .title {
          text-transform: capitalize;
          font-size: 18px;
          -webkit-font-smoothing: antialiased;
        }
        .description {
          font-size: 18px;
          text-transform: capitalize;
        }
      }
    }
  }
}
