.pills-web {
  border-bottom: 1px solid $lightgray;
  display: flex;
  justify-content: space-around;
  .active {
    background: $primary;
    a {
      background: $primary !important;
      border-radius: 5px 5px 0 0;
    }
  }
  li {
    width: 18%;
    text-align: center;
    background: $lightgray;
    border-radius: 5px 5px 0 0;
    a {
      border-radius: 5px 5px 0 0;
      text-transform: uppercase;
      color: $darkergray;
    }
  }
}

.pills-web+.tab-content {
  .column {
    margin: 15px 0;
    .column__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .column__header__center {
      justify-content: center;
    }
    .column__title {
      text-align: left;
      -webkit-font-smoothing: antialiased;
    }
    .column__link {
      text-align: right;
      a {
        position: relative;
        color: $primarytext;
        margin-right: 10px;
        &:before {
          content: "\f105";
          font-family: fontawesome;
          font-size: 16px;
          position: absolute;
          left: calc(100% + 5px);
          line-height: 25px;
        }
      }
    }
    .column__body {
      td {
        text-align: center;
      }
    }
    .column__body__revstat {
      background: $darkwhite;
      td {
        padding: 20px;
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}

.pills-web--fixed {
  justify-content: start;
  li {
    min-width: 10%;
    width: auto;
    margin-right: 5px;
  }
}
