.home-slider {
  .slider__image-wrapper {
    // @include shadownradius;
    border-radius: $grad;
    overflow: hidden;
  }
  .slick-slide {
    img {
      // max-width: 100%;
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }
  .slider__text {
    color: $primarytext;
    .slider__tag {
      font-size: 14px;
      text-transform: uppercase;
      padding: 15px 0;
    }
    .slider__title {
      font-size: 30px;
      -webkit-font-smoothing: antialiased;
      text-transform: capitalize;
    }
    .slider__time {
      font-size: 12px;
      padding: 15px 0;
    }
  }
  .slick-dots {
    text-align: right;
    .slick-active {
      button {
        &:before {
          color: $accent;
          background: $accent;
        }
      }
    }
    button {
      &:before {
        width: 15px !important;
        height: 15px !important;
        content: "";
        color: transparent; // text-shadow: 0 1px 0 $accent;
        border: 1px solid $accent;
        border-radius: 100%;
        font-size: 40px;
      }
    }
  }
}

.slider--sync-thumb {
  padding: 40px 0;
  .slick-arrow {
    &:before {
      color: $darkergray;
    }
  }
  .slider__content {
    padding: 0 20px;
    cursor: pointer; // box-shadow: $gshade;
  }
}

// .slick-slide[data-slick-index="0"] span {
//   display: block;
// }
// .slick-slide:not([data-slick-index="0"]) span {
//   display: none;
// }
.match-schedule-rotators .slick-track {
  position: relative;
  top: 7px;
  left: 0 !important;
  display: block;
  width: 100px !important;
  height: 30px;
}

.match-schedule-rotators .slick-slide[tabindex="-1"] {
  opacity: 0;
  z-index: -1;
}

.match-schedule-rotators .slick-slide[tabindex="0"] {
  opacity: 1;
  z-index: 90;
}

.match-schedule-rotators .match-schedule-rotator {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  text-align: center;
}

.match-schedule-rotators .slick-slide {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
