@mixin stats-background {
  background-image: url(../img/manuk.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 85%;
}

.stats-wrapper {
  margin-bottom: 30px;
}

.stats {
  @include shadownradius;
  color: $base;
  padding: 30px 15px;
  background: $darkgreen;
  @include stats-background;
  transition: $gtransition;
  transform-style: preserve-3d;
  &:hover {
    // box-shadow: $pushedshade;
  }
  .stats__title {
    margin-top: 20px;
    text-transform: capitalize;
    transform: translateZ(20px);
    &::before {
      content: "";
      background: black;
      border-radius: 5px;
      width: 50px;
      height: 5px;
      position: absolute;
      top: 30px;
      transform: translateZ(20px);
    }
  }
  .stats__data {
    font-size: 30px;
    margin-bottom: 0;
    line-height: 1;
    transform: translateZ(25px);
  }
}

.stats--green {
  background: $accent;
  @include stats-background;
  margin-bottom: 10px;
  .stats__title {
    &::before {
      background: $yellow;
    }
  }
}

.stats--blue {
  background: $primary;
  margin-bottom: 10px;
  @include stats-background;
  .stats__title {
    &::before {
      background: $lightblue;
    }
  }
}
