.table {
  .table__image {
    padding: 3px;
  }
  .time {
    span {
      background: $primary;
      color: $primarytext;
      padding: 3px;
    }
  }
}

.table--compact {
  margin-bottom: 0;
  th {
    &:last-child {
      text-align: center;
    }
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border-top: 0 !important;
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background: $darkwhite;
      }
      td {
        &:first-of-type {
          text-align: center;
        }
      }
    }
  }
  td {
    font-size: 12px; // text-transform: uppercase;
    text-align: left;
    border-top: 0 !important;
    &:last-child {
      text-align: center;
    }
  }
  img {
    width: 20px;
  }
}

.table--extended {
  thead {
    background: $accent;
    th {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 12px;
      color: $primarytext;
    }
  }
  tbody {
    td {
      text-transform: capitalize;
      font-size: 12px;
      border-top: 0 !important;
      padding: 2px 5px !important;
    }
  }
}

.table--compact--lefty {
  tbody {
    tr {
      td {
        &:first-of-type {
          text-align: left !important;
        }
      }
    }
  }
}

.table--pemain {
  margin-bottom: 0;
  thead {
    tr {
      th {
        padding: 15px !important;
        text-transform: capitalize;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 15px;
        text-transform: capitalize;
      }
    }
  }
}

.table--fixed {
  ::-webkit-scrollbar {
    display: none;
  }
  width: 100%; // background-color: #f3f3f3;
  tbody {
    height: 255px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
  }
  thead,
  tbody,
  tr,
  td,
  th {
    display: block !important;
  }
  tbody {
    tr {
      display: flex !important;
      align-items: center;
    }
    td {
      float: left;
      padding: 5px !important;
      &:last-child {
        text-align: left;
      }
    }
  }
  thead {
    padding: 3px;
    tr {
      th {
        float: left; // background-color: #f39c12;
        // border-color: #e67e22;
      }
    }
  }
  td[class*=col-],
  th[class*=col-] {
    float: left;
  }
}
