.widget-box {
  padding: 20px 0;
  .widget-box__header {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 15px;
    .widget-box__title {
      width: 50%; // float: left;
      h3 {
        text-align: left;
      }
    }
    .widget-box__link {
      width: 50%; // float: right;
      text-align: right;
      position: relative;
      a {
        color: $accent;
        position: relative;
        margin-right: 10px;
        &::after {
          content: "\f105";
          font-family: fontawesome;
          font-size: 16px;
          position: absolute;
          left: calc(100% + 5px);
          line-height: 25px;
        }
      }
    }
  }
  .widget-box__body {
    padding-bottom: 40px;
    border-bottom: 1px solid $lightgray;
  }
}

.widget-box--bordered {
  .widget-box__body {
    // border: 1px solid $lightgray;
    box-shadow: $gshade;
    border-radius: $grad;
    padding: 25px 40px;
    .column {
      // box-shadow: $gshade;
    }
  }
}

.widget-box--pemain {
  border-top: 1px solid $lightgray;
  margin-top: 40px;
  .widget-box__body {
    box-shadow: none;
    padding: 0;
  }
}
