@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 480px) {}

// tablet only
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    .upper-bar {
      .container {
        .logo {
          a {
            width: 100% !important;
          }
        }
        .search-bar {
          width: 80%;
          float: right;
        }
      }
    }
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .slider {
    .slick-slide {
      height: 550px;
      background: $accent;
      .profiler {
        padding: 50px;
      }
      .image {
        img {
          display: none;
        }
        &:after {
          width: 100px;
        }
      }
    }
  }
  .feeds-berita {
    .feeds-berita__column {
      .feeds-berita__header {
        h4 {
          font-size: 14px;
        }
      }
      .feeds-berita__body {
        .media {
          .media-left {
            width: 100%;
            display: block;
          }
        }
        .feeds-berita__button {
          a {
            span {
              &:after {
                right: 0;
                left: auto;
              }
            }
          }
        }
      }
    }
  }
  .column-wrapper:nth-of-type(even) {
    padding-right: 15px;
  }
  .column-wrapper:nth-of-type(odd) {
    padding-left: 15px;
  }
  .footer {
    .sponsor {
      .sponsor-images {
        .row {
          .responsive {
            width: 80px;
          }
        }
      }
    }
    .icon {
      text-align: center;
    }
    ul {
      text-align: center;
    }
  }
}

//tablet and above devices
@media (min-width: 768px) {
  .contact-wrap {
    width: 60%;
    margin: auto;
  }
}

// below desktop
@media only screen and (max-width: 1023px) {
  .header {
    .navbar-nav>li {
      width: 100%;
    }
    .navbar-toggle {
      display: block;
    }
    .sub-menu.has-dropdown:hover .dropdown-menu {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      border-radius: 0;
      border: 0;
      box-shadow: none;
    }
    .sub-menu .subnav-list .dropdown-nav {
      position: relative;
      left: 0;
    }
    .sub-menu .subnav-list .dropdown-nav .dropdown-nav__item:last-child {
      border-bottom: 0;
    }
    .sub-menu .subnav-list .subnav-list__item {
      padding: 5px;
    }
    .has-dropdown {
      .dropdown-menu {
        display: none;
      }
      &.open {
        &>.dropdown-menu {
          display: block;
          background: transparent;
          box-shadow: none;
          border: 0;
          padding-left: 5px;
        }
      }
    }
    .drop-small {
      .dropdown-nav {
        .subnav-list {
          background: transparent;
        }
      }
    }
    .dropdown-menu {
      position: relative;
    }
    .upper-bar {
      z-index: initial;
    }
    .sb-search {
      /* right: auto; */
      bottom: 30px;
      top: auto;
      width: 90%;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .navbar {
    z-index: 10;
    .navbar-header {
      position: absolute;
      right: 30px;
      top: 30px;
      z-index: 20;
      button {
        background: $primary;
        border-color: $primary;
        span {
          color: $primarytext;
          background-color: $primarytext !important;
        }
        &:hover {
          background: $primary;
        }
        &:focus {
          background: $primary;
        }
        &:after {
          content: "MENU";
          position: absolute;
          right: 38px;
          height: calc(100% + 2px);
          background: $primary;
          color: $primarytext;
          top: -1px;
          padding: 10px;
          border-radius: 3px;
        }
      }
    }
    .nav {
      background: $primary;
      padding: 30px 15px 70px 15px;
      margin-top: 100px;
      .active {
        a {
          background: transparent;
          &:after {
            content: "";
            position: absolute;
            left: 15px;
            height: 2px;
            width: calc(100% - 30px);
            background: $primary;
            bottom: 0;
          }
        }
      }
    }
  }
  .hero {
    &>.row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .match {
    padding: 15px;
  }
  .widget-box--bordered {
    .widget-box__body {
      padding: 0;
      box-shadow: none;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .stats {
    margin-bottom: 15px;
    .stats__title {
      font-size: 13px;
    }
  }
  .footer {
    .sponsor {
      height: auto;
      padding: 50px 0;
      .sponsor-images {
        .row {
          flex-wrap: wrap;
          .responsive {
            width: auto;
            a {
              padding-bottom: 0;
            }
            img {
              width: auto;
              height: auto;
            }
          }
        }
      }
    }
    .footer-link {
      text-align: left;
    }
    .footer__link {
      // text-align: center;
      width: 33%;
      min-height: 270px;
      padding: 15px;
      li {
        text-align: left;
        a {}
      }
    }
    .icon {
      text-align: center;
    }
  }
  .article--extended {
    margin-top: 300px;
  }
  .column--form {
    .column__body {
      height: 130px;
    }
  }
  .table--fixed {
    tbody {
      height: 150px;
    }
  }
  .table--compact__clubstat tbody tr.highlight-table>td {
    padding: 10px;
  }
}

// desktop only
@media only screen and (min-width: 1024px) {
  .header {
    // height: 270px;
  }
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }
  .main {
    // overflow-x: hidden;
  }
  .hero {
    @include full-width;
  }
  .navbar {
    position: absolute;
    bottom: 20px;
    width: 100%;
    border-bottom: 0;
    z-index: 30;
  }
  .navbar-nav {
    padding-left: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    li {
      height: auto;
      position: relative;
      display: flex;
      align-items: center;
      a {
        height: inherit;
      }
      ul.sub-menu {
        position: absolute;
        left: 0;
        top: 100%;
        background: #fff;
        display: none;
      }
      &:hover {
        .dropdown-menu,
        ul.sub-menu {
          background: $base;
          border-radius: 0;
          display: block;
          left: 0;
          width: auto;
          height: auto;
          border: 0;
          box-shadow: none;
          border-bottom: 5px solid $accent;
          padding-top: 25px; // padding-bottom: 25px;
        }
      }
    }
  }
  .navbar-collapse {
    padding-right: 40px;
  }
  .navbar-default {
    background: transparent;
    border-color: transparent;
    .active {
      &>a {
        border-bottom: 6px solid transparent;
        background: transparent !important;
      }
      a {}
    }
    .nav {
      li {
        a {
          &:hover {
            // color: $accent;
          }
          color: $darkergray;
          font-size: 15px;
          padding: 5px;
          text-transform: uppercase;
          &:hover {}
        }
      }
    }
  }
  .navbar-default .nav>li>a:hover {
    // color: #fff !important;
  }
  .main {
    .right {
      position: absolute;
      right: 0; // background: $base;
    }
  }
  .article {
    padding: 35px 90px;
  }
  /* liga1 - news page */
  .news--extended {
    padding: 0;
    .thumbnail {
      padding: 0;
      border: 0;
      a {
        border-radius: 10px;
        overflow: hidden;
      }
    }
  }
  .article--extended {
    padding: 0 90px 35px 90px;
  }
  .article--compact {
    padding: 0 90px 35px;
  }
  .article--sidebar {
    // padding: 0 15px 35px 15px;
    padding: 0;
    overflow: hidden;
  }
  .tab-content {
    margin-left: -15px;
    margin-right: -15px;
  }
  .tab-content--table {
    margin-left: 0;
    margin-right: 0;
  }
  .tab-content--stats {
    margin-left: 0;
    margin-right: 0;
  }
  .form__widget {
    padding: 15px 75px;
  }
  .table--compact {
    td {
      padding: 10px 1px !important;
      font-size: 11px;
    }
  }
  .table--compact__clubstat tbody tr.highlight-table {
    div[class*=stat-] {
      margin-left: 15px;
    }
    .stat-info {
      p {
        float: left;
        margin-right: 5px;
      }
    }
  }
  nav[aria-label="page navigation"] {
    margin-top: -40px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (min-width: 1140px) {}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1130px;
  }
}

// mobile only
@media only screen and (max-width: 767px) {
  .header {
    // height: 270px;
    .upper-bar {
      .container {
        .search-bar {
          width: 65%;
          height: 35px;
          margin-top: 10px;
          input {
            border-radius: 3px;
          }
          .fa-search {
            margin: 7px;
          }
        }
      }
    }
  }
  .navbar.navbar-default {
    .navbar-header {
      // top: 110px;
    }
    .navbar-nav {
      // margin-top: 200px;
    }
  }
  .slider {
    .slick-slide {
      height: 800px;
      background: $accent;
    }
    .image {
      img {
        display: none;
      }
      &:after {
        border-right: 100px solid transparent;
        border-top: 100px solid $primary;
        height: 0;
        width: 10px;
      }
    }
    .profiler {
      padding: 80px 40px;
      .photo {
        .responsive {
          img {
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
      .description {
        td,
        th {
          font-size: 14px;
        }
        .name {
          font-size: 24px;
          text-align: center;
          margin-top: 20px;
          .number {
            font-size: 45px;
            bottom: auto;
            right: auto;
            top: 0;
          }
        }
      }
    }
  }
  .feeds-berita {
    .feeds-berita__column {
      margin-bottom: 50px;
      .feeds-berita__header {}
      .feeds-berita__body {
        .media {
          .media-left {}
        }
      }
    }
  }
  .inner-banner--comp h3 {
    padding-left: 0;
  }
  .is-padded.is-padded--left {
    text-align: center;
  }
  .inner-banner {
    // margin-top: 270px;
  }
  .pills-web {
    flex-direction: column;
    padding: 0 15px;
    &.active {
      li {
        a {
          border-radius: $grad;
        }
      }
    }
    li {
      width: 100%;
      margin-bottom: 5px;
      border-radius: $grad;
    }
  }
  .table--compact__clubstat tbody tr.highlight-table .stat-info p {
    float: left;
    margin: 5px;
  }
  .footer {
    .footer__link {
      width: 100%;
      min-height: 0;
    }
  }
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}
