button {
  transition: 0.3s ease-in;

  a {
    color: $base;
    span {
      // transform: skewX(-15deg);
      display: block;
    }
  }
}

.button--plain {
  background: $primary;
  padding: 10px 10px;
  font-size: 16px;
  color: $base;
  text-transform: capitalize;
  border-radius: 5px;
  width: 100%;
}
