::selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}

.responsive {
  width: 100%;
  overflow: hidden;
  a {
    position: relative;
    height: 0;
    padding-bottom: 56%;
    display: block;
    img {
      position: absolute;
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
