// @font-face {
//   font-family: "uni_sans_regularregular";
//   src: url("../components/fonts/Uni-sans/uni-sans-regular-webfont.woff2")
//       format("woff2"),
//     url("../components/fonts/Uni-sans/uni-sans-regular-webfont.woff")
//       format("woff");
//   font-weight: normal;
//   // font-weight: bold;

//   font-style: normal;
// }
// @font-face {
//   font-family: "uni_sans_regularregular";
//   src: url("../components/fonts/Uni-sans/uni-sans-bold-webfont.woff2")
//       format("woff2"),
//     url("../components/fonts/Uni-sans/uni-sans-bold-webfont.woff")
//       format("woff");
//   font-weight: bold;
//   font-style: normal;
// }

@font-face {
  font-family: "fontawesome";
  src: url("../../../node_modules/font-awesome-sass/assets/fonts/font-awesome/fontawesome-webfont.eot");
  src: url("../../../node_modules/font-awesome-sass/assets/fonts/font-awesome/fontawesome-webfont.woff2")
      format("woff2"),
    url("../../../node_modules/font-awesome-sass/assets/fonts/font-awesome/fontawesome-webfont.woff")
      format("woff"),
    url("../../../node_modules/font-awesome-sass/assets/fonts/font-awesome/fontawesome-webfont.ttf")
      format("truetype"),
    url("../../../node_modules/font-awesome-sass/assets/fonts/font-awesome/fontawesome-webfont.eot")
      format("embedded-opentype");

  font-weight: normal;
  font-style: normal;
}
