// color
$base: #f7f7f7;
$primary: #1ba0e2;
$accent: #7bc059;
$primarytext: #ffffff;
$darkwhite: #f3f3f3;
$lightgray: #eeeeee;
$gray: #979797;
$darkergray: #4a4a4a;
$darkgray: rgba(74, 74, 74, 0.95);
$darkgreen: #304956;
$yellow: #fce035;
$lightblue: #56e6f1;
// global variables
$grad: 10px;
$gtransition: 0.3s ease-in;
$gshade: 0 2px 12px 0 rgba(172, 164, 164, 0.56);
$pushedshade: 0 13px 12px 0 rgba(172, 164, 164, 0.56);
$ggradient: linear-gradient(270deg, $accent 0%, $primary 100%);
// $accent: #7bc059;

//klub
$mediumwhite: #fcfcfc;
$lightgreen: #8DC63F;