// extended animation
@mixin shadownradius {
  border-radius: $grad;
  box-shadow: $gshade;
}

@mixin njeblug {
  @include pulse( $duration: 0.3s, $fill: ease-out);
}

// end extended animation
@mixin header-padding {
  padding: 100px 0;
}

// full width
@mixin full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@mixin custom-button {
  background: $accent; // height: 60px;
  font-size: 24px;
  text-transform: capitalize;
  padding: 11px 75px;
  border-style: none;
  transform: skewX(15deg);
  &:hover {
    background: $primary;
    .before:after,
    .after:after {
      background: $primary;
    }
  }
  .before,
  .after {
    position: absolute;
    top: 0;
  }
  .before {
    right: calc(100% + 10px);
    &:after,
    &:before {
      content: "";
      background: $primary;
      width: 0px;
      padding: 30px 15px;
      position: absolute;
      top: 0;
    }
    &:before {
      right: calc(100% + 50px);
    }
    &:after {
      right: calc(100% + 5px);
    }
  }
  .after {
    left: calc(100% + 10px);
    &:after,
    &:before {
      content: "";
      background: $primary;
      width: 0px;
      padding: 30px 15px;
      position: absolute;
      top: 0;
    }
    &:before {
      left: calc(100% + 50px);
    }
    &:after {
      left: calc(100% + 5px);
    }
  }
}

@mixin pattern-lining {
  background: $primary; // height: 40px;
  width: calc(100% - 80px);
  float: right;
  position: relative;
  text-align: right;
  color: $lightgray;
  padding: 0 20px;
  margin-bottom: 70px;
  margin-top: 15px;
  &:hover {
    // @include fadeIn();
    // @include shade;
  }
  a {
    font-size: 24px;
    text-transform: capitalize;
    color: $darkgray;
  }
  .pattern {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 40px solid $primary;
    border-left: 12px solid transparent;
    right: 100%;
    display: inline-block;
    top: 0;
    &:before,
    &:after {
      content: "";
      background: $primary;
      height: 40px;
      width: 20px;
      position: absolute;
      bottom: 0;
      transform: skewX(15deg);
    }
    &:before {
      right: calc(100% + 20px);
    }
    &:after {
      background: $primary;
      right: calc(100% + 50px);
    }
  }
}

@mixin mega-menu {
  .mega-menu {
    &:hover {
      .mega-sub-menu {
        display: flex;
        @include fadeInDown();
      }
    }
    .mega-sub-menu {
      display: none;
      width: 100%;
      position: absolute;
      left: 0;
      background: $lightgray;
      border-bottom: 5px solid $accent;
      opacity: 0.8;
      padding: 80px;
      .mega-menu-item {
        display: inline-block;
        width: calc(100%/3);
        height: auto;
        border-right: 1px solid $lightgray;
        h4 {
          text-align: left;
          font-size: 24px;
          padding-left: 15px;
        }
        .media {
          padding: 15px;
          &:hover {
            // @include njeblug();
            // background: $lightgray;
          }
          .media-left {
            width: 45%;
          }
          .media-body {
            vertical-align: middle;
            p {
              text-transform: uppercase;
              letter-spacing: 0;
              color: $darkgray;
            }
          }
        }
        &:last-child {
          border-right: 0;
        }
        .menu-item {
          height: auto;
          a {
            color: $darkgray;
            &:hover {
              border-bottom-color: $primary;
            }
          }
        }
      }
    }
  }
}

// featherlight iframe box
.with-featherlight {
  .featherlight-iframe {
    .featherlight-content {
      overflow-y: auto;
    }
  }
}

.featherlight {
  .featherlight-close-icon {
    background: $primary;
  }
}

// test ajax slider
// news box
// match infos
.news-box__head {
  background: #7bc059;
  font-size: 18px;
  color: white;
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding-top: 15px !important;
}

.match-infos {
  position: relative;
  font-size: 10px ::-webkit-scrollbar {
    display: none;
  }
}

.match-infos:after {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7) url(../img/ajax-loader.gif) center no-repeat;
  content: ''
}

.match-infos.is-loading {
  pointer-events: none
}

.match-infos.is-loading:after {
  display: block
}

@media screen and (min-width: 48em) {
  .match-infos {
    font-size: 14px
  }
}

@media screen and (min-width: 64em) {
  .match-infos {
    font-size: 16px; // max-height: 58vh;
    max-height: 600px;
    overflow: auto;
  }
  .slick-slide-wrapper .slick-slide {
    height: 59vh;
  }
  .slick-slide-wrapper .slider-nav .slick-slide {
    height: 21vh;
  }
  /*div#mainSlider {
        height: 95vh;
        background: #1f1e1e;
    }*/
  .main-slider img {
    height: 800px;
    visibility: hidden;
  }
}

.match-info-container {
  height: 300px;
  overflow: auto;
  background: #FAFAFA
}

.match-info {
  padding: 20px 10px;
  border-bottom: solid 1px #E1E2E1
}

.match-info .bzg {
  margin-left: -8px;
  display: flex;
  position: relative;
}

.match-info .bzg_c {
  padding-left: 8px;
}

.match-info .bzg_c[data-col*="s3"] {
  width: 35%;
  padding-top: 8px;
  padding-bottom: 5px;
}

.match-info .bzg_c[data-col*="s6"] {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-info .team-emblem img {
  height: 30px
}

.match-info .team-emblem figcaption {
  /* line-height: 1.4; */
  line-height: 1.1;
  font-size: 10px;
}

.match-info.is-active {
  background: #fff
}

.match-info.is-active .team-emblem img {
  height: 50px
}

.match-info.is-active .bzg_c[data-col*="s3"] {
  width: 25%
}

.match-info.is-active .bzg_c[data-col*="s6"] {
  width: 50%
}

// Update 23 Febuari 2018
.footer {
  .footer__link {
    h3,
    h4 {
      color: #f7f7f7;
      text-align: left;
      margin-bottom: 25px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 15px;
    }
  }
}

.sb-icon__search {
  .fa-search {
    margin-top: 5px;
    font-size: 20px;
  }
}

table.table.table--compact.table--fixed {
  td.club {
    a {
      font-size: 10px;
      color: #444;
    }
  }
}

.match-infos {
  .match-info-extra {
    span.match-time {
      display: block;
    }
  }
}

.match-infos {
  .match-info-extra {
    span.match-info-date {
      display: none;
    }
  }
}

.match-schedule-rotators {
  button {
    .fa {
      margin: 0;
      color: #ffffff;
      font-size: 20px;
    }
  }
}

.drop-small {
  position: absolute;
  display: none !important;
}

.footer {
  .sponsor {
    display: none;
  }
}

.footer {
  .footer__head {
    display: none !important;
  }
}

.footer .footer__bottom>ul i {
  font-size: 23px !important;
}

.footer .footer__bottom>ul li:hover i {
  color: #a9a5a5;
}

.statistik-detail {
  .column__body {
    td {
      a {
        font-size: 12px;
        color: #444;
      }
    }
  }
}

@media screen and (min-width: 48em) {
  .match-info.is-active .bzg_c[data-col*="m4"] {
    width: 33.3%
  }
}

.match-schedule .match-info {
  cursor: pointer
}

.match-schedule .match-info.is-active {
  cursor: auto
}

@media screen and (min-width: 48em) {
  .match-info .bzg {
    /*margin-left: -25px*/
  }
  /*.match-info .bzg_c {
        padding-left: 25px
    }*/
  .match-info .team-emblem img {
    height: 30px
  }
  .match-info.is-active .team-emblem img {
    height: 30px
  }
}

.match-info-desc {
  margin: 1.6em 0;
  text-align: center;
  /* line-height: 1.6em; */
  line-height: 1.4;
}

.match-info-desc>*:not(.match-info-date):not(.match-info-score) {
  display: block;
}

.match-info-desc>.match-info-score+br {
  display: block;
}

.match-info.is-active .match-info-desc>* {
  display: inline-block
}

.match-info.is-active .match-info-desc>.match-info-score+br {
  display: inline-block
}

.match-info.is-active .match-info-desc .match-info-date {
  display: none
}

@media screen and (min-width: 48em) {
  .match-info-desc {
    margin: 0 10px;
    padding: 3px;
    background: $primary;
    .match-info-date {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: -22px;
      bottom: auto;
      height: 20px;
      margin: auto;
      display: block;
      font-weight: bold;
      color: $primary;
    }
  }
  .match-info.is-active .match-info-desc {
    /* margin-top: 16px */
    margin-top: 0;
  }
}

.match-info-desc-vs {
  font-size: 24px;
  color: $primarytext;
  padding: 5px;
}

.match-info-score {
  margin-top: 16px;
  font-size: 24px;
  white-space: nowrap
}

.match-info.is-active .match-info-score {
  margin-top: 5px
}

@media screen and (min-width: 48em) {
  .match-info-score {
    margin-top: 10px
  }
}

@media screen and (min-width: 64em) {
  .match-info-score {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    color: #fff;
  }
  .match-info.is-active .match-info-score {
    margin-top: 0
  }
}

.match-info-date {
  display: inline-block;
  border: 0;
  padding: 0;
  color: #fff;
  font-size: 12px;
}

.match-info-date span {
  display: block
}

.match-info-date span:after {
  display: none;
  content: ','
}

@media screen and (min-width: 48em) {
  .match-info-date {
    margin-top: 0
  }
  .match-info-date span {
    display: inline-block
  }
  .match-info-date span:after {
    display: inline
  }
}

.match-info-extra {
  display: none;
  text-align: center;
  line-height: 1.6em
}

.match-info-extra .btn {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 4px
}

.match-info.is-active .match-info-extra {
  display: block
}

@media screen and (min-width: 64em) {
  .match-info-extra {
    font-size: 87.5%
  }
  .match-info-extra .btn {
    padding-top: 4px;
    padding-bottom: 4px;
    color: $primary;
  }
}

.team-emblem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: .8em 0;
  margin-bottom: 0;
}

.team-emblem img {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  height: 75px;
  margin-bottom: .8em;
}

.tab.block .team-emblem--right img {
  width: 65px;
  height: auto;
}

.team-emblem figcaption {
  width: 100%;
  font-weight: 700;
  text-align: center
}

@media screen and (min-width: 48em) {
  .team-emblem {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0
  }
  .team-emblem img {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-left: .4em;
    margin-bottom: 0
  }
}

@media screen and (min-width: 48em) {
  .team-emblem--right {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
  .team-emblem--right img {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    margin-right: .4em;
    margin-left: 0
  }
}

.team-emblem--small img {
  height: 50px
}

.team-emblem--x-small img {
  height: 30px
}

.team-emblem--x-small figcaption {
  font-weight: 400
}

.team-emblem--large {
  font-size: 25px
}

.team-emblem--large img {
  height: 125px
}

.team-emblem--white {
  color: #fff
}

.team-emblem--light figcaption {
  font-size: 80%;
  font-weight: 400;
  text-transform: uppercase
}

.team-emblem-name {
  display: inline-block;
  height: 2.4em;
  line-height: 1.2em;
  overflow: hidden
}

.tab-navs {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  background: #E0222D;
  border: 1px solid #e4e7ed;
  border-top: none;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch
}

.bzg_c[data-col*="l4"] .tab-navs {
  float: left;
  width: 100%;
}

.bzg_c[data-col*="l4"] .tab-nav {
  width: 50%;
  text-align: center;
}

.news-sect-news-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  right: 5%;
  color: #fff;
  z-index: 1;
}

.first-news .news-list-sharer {
  display: none;
}

.second-news figure:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  opacity: 0.6;
  z-index: 0;
}

.first-news figure .img-thumb-container:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.4;
  z-index: 1;
}

.first-news:hover img,
.second-news:hover img {
  transform: scale(1.1);
}

.second-news-container {
  clear: both;
  overflow: hidden;
  margin: 0 -15px;
}

.second-news {
  position: relative;
  width: 50%;
  float: left;
  padding: 0 15px;
}

.news-list-article.second-news {
  padding-left: 1.6em;
  padding-right: 0;
}

.news-list-article .box {
  background: #fff;
  color: #201f23;
}

.second-news figure {
  position: relative;
  border: 1px solid #e4e7ed;
}

.first-news,
.first-news figure {
  position: relative;
}

.main-sect-news-heading {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.second-news .sect-news-title {
  font-size: 16px;
}

.second-news .main-sect-news-heading {
  font-size: 24px;
}

.main-sect-news-heading a.news-main-title {
  color: #fff;
}

.second-news .main-sect-news-heading a.news-main-title {
  color: #000;
}

/*.bzg_c table.table.table--light.no-margin {
    display: none;
}*/

.news-sect-news-tag,
.news-slider-tag {
  display: inline-block;
  background: #9a9a9a;
  padding: 4px 10px;
  margin-bottom: 10px;
  color: #fff;
  display: none;
}

.second-news .img-thumb-container img {
  /*height: 198px;
    object-fit: cover;*/
}

.second-news .news-sect-news-tag {
  position: absolute;
  top: 10px;
  left: 10px;
}

.second-news .news-short-content {
  display: block;
  display: -webkit-box;
  max-width: 400px;
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 32px;
}

.news-list.pojok-suporter-news-list p.news-short-content {
  max-height: 154px;
  overflow: hidden;
}

.img-thumb-container {
  overflow: hidden;
  position: relative;
}

.img-thumb-container img {
  width: 100%;
  /*object-fit: cover;*/
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.firefox .second-news .news-short-content {
  display: block;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 3.6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}

.firefox .second-news .news-short-content:before {
  content: '...';
  position: absolute;
  right: 11px;
  bottom: 0;
  background: #fff;
}

.firefox .second-news .news-short-content:after {
  content: '';
  position: absolute;
  right: -5px;
  bottom: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.box--compact.head-standing {
  position: relative;
  width: 100%;
}

.box--compact {
  border: 1px solid #e4e7ed;
}

.box--compact {
  border: 1px solid #e4e7ed;
  position: relative;
}

.box--compact:before {
  content: '';
  width: 0px;
  background: #9a9a9a;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.bzg .bzg_c .tab-panel {
  border: 1px solid #e4e7ed;
}

.bzg .bzg_c[data-col*="l8"] .pull-right>a {
  background: #E0222D;
  color: #fff;
  padding: 2px 10px;
  line-height: 1.6;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

.bzg .bzg_c[data-col*="l8"] .pull-right>a:hover {
  background: #c3141e;
}

.news-slider-tag>p,
.news-sect-news-tag>p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 14px;
  display: none;
}

.second-news .news-sect-news-item .news-date {
  padding-bottom: 5px;
  font-size: 14px;
}

.second-news .news-sect-news-item {
  position: relative;
  top: 0;
  transform: none;
  padding: 20px;
  left: auto;
  right: 0;
  background: #fff;
  color: #201f23;
  padding-bottom: 0;
}

.match-schedule-rotators {
  background: #7bc059;
  padding-bottom: 15px;
  button {
    // position: relative;
    z-index: 90;
    &.slick-next {
      right: 15px;
      top: 0;
      bottom: 0;
    }
    &.slick-prev {
      left: 15px;
      top: 0;
      bottom: 0;
    }
    &:before {
      content: ' ';
    }
    .fa {
      margin: 0;
      color: $primarytext;
    }
  }
  .match-schedule-rotator {
    color: #fff;
    font-size: 18px;
  } // .slick-track {
  //   transform: translate3d(0, 0, 0) !important;
  // }
  // .slick-list {
  //   transform: translate3d(0, 0, 0) !important;
  //   padding: 0 40% !important;
  // }
}

.news-box__content {
  background: $lightgray;
}

.news-box__filler {
  background: #eeeeee;
  padding: 15px 10px;
  border-radius: 0 0 10px 10px;
}

.extra-info {
  padding: 5px;
  text-align: center;
}

// match refix
.match-info {
  padding: 20px 5px;
}

.team-emblem figcaption {
  font-weight: 300;
}

.match-info .bzg_c {
  padding-left: 0;
}

::-webkit-scrollbar {
  display: none;
}

.match-info .bzg {
  margin-left: 0;
  margin-top: 8px;
  justify-content: center;
}

.match-info-score {
  font-size: 15px;
}

.match-info-desc {
  margin: 0 5px;
}

.match-info .bzg_c[data-col*="s6"] {
  // width: 20%;
  width: 33.3%;
}

// meta content tag
.meta-category {
  &:before {
    content: "#";
  }
  width: 15%;
  display: inline-block !important;
  border: 1px solid $primary;
  padding: 5px;
  border-radius: 4px;
  box-shadow: $gshade;
}

// Responsive
@media screen and (max-width: 480px) {
  .home-slider {
    .slick-slide {
      img {
        height: auto !important;
      }
    }
  }
}
