<div class="gallery-grid__item">
    <a class="gallery-grid-anchor" href="{{image_url}}">
        <figure class="gallery-item">
            <img src="{{image_thumb_url}}" alt="{{image_alt}}">
            <figcaption>
                {{image_title}}

                {{#if images_has_tags}}
                <div>
                    {{#each image_tags}}
                    <span class="label label--sm label--red label--outline">{{this}}</span>
                    {{/each}}
                </div>
                {{/if}}
            </figcaption>
        </figure>
    </a>
</div>