{{#each matches}}
<div class="match-info {{#if isActive}} is-active {{/if}}">
  <div class="bzg">
    <div class="bzg_c" data-col="s3 m4">
      <figure class="team-emblem">
        <img src="{{team_1.logoUrl}}" alt="{{team_1.logoAlt}}">
        <figcaption>{{team_1.name}}</figcaption>
      </figure>
    </div>
    <div class="bzg_c" data-col="s6 m4">
      <div class="match-info-desc">
        {{#if isFinished}}
        <h2 class="no-margin text-center text-red match-info-score">{{result}}</h2>
        {{else}}
        <div class="match-info-desc-vs">
          <b>VS</b>
        </div>
        <span class="match-info-date">
          <span>{{day}}</span> {{date}}</span>
        {{/if}}
      </div>
    </div>
    <div class="bzg_c" data-col="s3 m4">
      <figure class="team-emblem team-emblem--right">
        <img src="{{team_2.logoUrl}}" alt="{{team_2.logoAlt}}">
        <figcaption>{{team_2.name}}</figcaption>
      </figure>
    </div>
  </div>
  <div class="match-info-extra">
    <span class="match-info-date">{{day}}, {{date}}</span>
    <br>
    <b>
      <span>{{place}}</span>
    </b>
    <br>
    <span>{{info}}</span>
    <br>

    <a href="{{urlLineUp}}" class="btn btn--sm btn--gray btn--outline">Line up</a>
    <a href="{{urlStatistik}}" class="btn btn--sm btn--gray btn--outline">Statistik</a>
  </div>
</div>
{{/each}}
